{% extends 'base.html' %}
{% block content %}
<div class="carousel">
  {% for navban in Nav_banners %}
    <div id="slide" class="slide active" style="background-image: url('{{navban.img.url}}');">
      <div class="content">
        <h5>{{ forloop.counter }} on trending today</h5>
        <h1>{{navban.Movie_name}}</h1>
        <p>{{navban.Movie_about}}</p>
        <div class="buttons">
          <button class="watch-btn">▶ WATCH</button>
          <button class="about-btn">ABOUT FILM</button>
        </div>
      </div>
    </div>
  {% endfor %}
    <!-- Add more slides as needed -->
    <div class="dots">
      {% for navban in Nav_banners %}
        <span class="dot {% if forloop.first %}active{% endif %}" onclick="currentSlide({{ forloop.counter0 }})"></span>
      {% endfor %}
    </div>
    
</div>
<div class="movie_cat">
  <div class="movie_ca">
    <div class="line">
      <div class="line_ball"></div>
    </div>
    <h2>POPULAR</h2>
    <div class="movie_slot">
      <h3>Movies</h3>
      <h3>Series</h3>
    </div>
    <div class="movie_image_slot">
      {% for movie in movies|slice:":12" %}
      <a href="{% url 'detials' id=movie.id %}">
        <div class="movie_card">
          <div class="movie_image">
            <img src="{{movie.img.url}}" alt="{{movie.img.url}}">
          </div>
          <div class="movie_rating">
            <p>{{ movie.Movie_rating }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="generes">
      <div class="gen_cap">
        <h3>TOP GENERES > </h3>
      </div>
      <div class="gen_cat">
        {% for gen in generes %}
          <div class="gen_box">
            <p>{{gen.gen_name}}</p>
            <div class="gen_img">
              <img src="{{gen.img.url}}" alt="{{gen.gen_name}}">
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="line">
      <div id="black_ball" class="line_ball">
        <a href="#slide">
          <h5>^</h5>
        </a>
      </div>
    </div>
    <div class="laz">
      <div class="laz_about">
        <p class="p_about">LAZY</h5>
        <h6>movie revies with Tamil Language </p>
      </div>
      <div class="laz_about">
        <p class="p_about">Developer</h5>
        <h6>Developer and desigh by Kavinkumar with Django</p>
      </div>
      <div class="laz_about">
        <p class="p_about">Contact</h5>
        <h6>Mail:Kavinkumar2112202@gmail.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}