{% extends 'base.html' %}
{% block content %}
<div class="det">
    <div class="movie_banner" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95) 0%, transparent 60%, transparent 60%, rgba(0, 0, 0, 0.89) 100%), url('{{ flim.movie_poster.url }}');">
        <div class="movie_ban">
            <h1>{{ flim.Movie_name }}</h1>
            <p>
                {{ flim.release_date }} |
                {% for lang in flim.language.all %}
                    {{ lang.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %} |
                {% for genre in flim.genere.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <h3>{{ flim.movie_type }}</h3>
            <div class="watch_but">
                <h5 class="active" style="background-image: linear-gradient(to top, #09203f 0%, #537895 100%);">▶ WATCH</h5>
                <h5>TRAILER</h5>
            </div>
        </div>
    </div>

    <div id="movie_ab" class="movie_ab">
        <div class="movie_det">
            <div class="movie_about">
                <div class="movie_aboua">
                    <h2>ABOUT</h2>
                </div>
                <div class="movie_aboub">
                    <div class="movie_abo">
                        <b>Date</b>
                        <p>{{ flim.release_date }}</p>
                    </div>
                    <div class="movie_abo">
                        <b>Age</b>
                        <p>PG-{{ flim.age }}</p>
                    </div>
                    <div class="movie_abo">
                        <b>Country</b>
                        <p>{{ flim.country }}</p>
                    </div>
                    <div class="movie_abo">
                        <b>Revenue</b>
                        <p>{{ flim.Revenue }}Cr</p>
                    </div>
                    <div class="movie_abo">
                        <b>Runtime</b>
                        <p>{{ flim.Runtime }} m</p>
                    </div>
                    <div class="movie_abo" style="width:200px;">
                        <b>Genre</b>
                        <p>
                            {% for genre in flim.genere.all %}
                                {{ genre.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="movie_abouc">
                    <b>Description</b>
                    <p>{{ flim.description }}</p>
                </div>
            </div>

            <div class="cast">
                <h2>THE CAST</h2>
                <div class="cast_box_con">
                    {% for actor in casts %}
                        <div class="cast_box">
                            <div class="cast_img_box">
                                <img src="{{ actor.img.url }}" alt="">
                            </div>
                            <div class="cas">
                                <p>{{ actor.name }}</p>
                                <p>{{ actor.Character_name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="line" style="margin-top: 180px; width: 100%; height: 3px; background-color: aliceblue; display: flex; justify-content: center; align-items: center;">
        <div id="black_ball" class="line_ball" style="width: 20px; height: 20px; border-radius: 20px; background-color: aliceblue;">
            <a href="#movie_ab">
                <h5>^</h5>
            </a>
        </div>
    </div>
    <div class="laz">
        <div class="laz_about">
            <p class="p_about">LAZY</p>
            <h6>Movie reviews in Tamil language</h6>
        </div>
        <div class="laz_about">
            <p class="p_about">Developer</p>
            <h6>Designed and developed by Kavinkumar using Django</h6>
        </div>
        <div class="laz_about">
            <p class="p_about">Contact</p>
            <h6>Mail: Kavinkumar2112202@gmail.com</h6>
        </div>
    </div>
</div>
{% endblock %}
