{% extends 'base.html' %}
{% block title %}
News
{% endblock %}
{% block content %}
<div class="movie_page">
    <div class="movie_pag">
        <div style="margin-top:80px;" id="line" class="line">
            <div class="line_ball"></div>
        </div>
        {% comment %} <div class="searcher" >
            <div class="movie_slots">
                <div class="movie_image_slot">
                    {% for movie in movies %}
                      <div class="movie_card">
                        <div class="movie_image">
                          <img src="{{movie.img.url}}" alt="{{movie.img.url}}">
                        </div>
                        <div class="movie_rating">
                          <p>{{ movie.Movie_rating }}</p>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div> {% endcomment %}
        <div class="news_pro">
            <h1 id="com">Coming soon,working on process</h1>
        </div>
    </div>
</div>
{% endblock %}